{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dawit neri</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'fevi.ico' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}" type="text/css">  

	
</head>
<body id= "main_body" style= "background: url('https://media.istockphoto.com/id/1432955867/vector/technology-abstract-lines-and-dots-connect-background-with-hexagons-hexagon-grid-hexagons.jpg?s=612x612&w=0&k=20&c=gSMTHNjpqgpDU06e3G8GhQTUcqEcWfvafMFjzT3qzzQ=') no-repeat; background-size: cover;">
    <div id="header">
		<div class="container">
      <nav>
				<a  href={% url 'home' %} class="logo">Doff n.</a>
				<ul id="sidemenu">
					  <li><a href="#" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
            <li><a href={% url 'about' %}>About</a></li>
            <li><a href={% url 'service' %}>Services</a></li>
            <li><a href={% url 'work' %}>Work</a></li>
            <li><a href={% url 'contact' %}>Contact</a></li>
            <i class='bx bx-exit' onclick="closeMenu()"></i>
				</ul>
                <i class='bx bx-menu' id="bx-menu" onclick="openMenu()"></i>
			</nav>
      <div class="header-text">
          <h1>Hi, I'm <span style="color: rgb(32, 219, 15);">Dawit Neri</span><br>From Ethiopia</h1>
          <p>   I'm an Electromechanical Engineer</p>
        </div>
      </div>
		</div>
    

          
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="{% static 'index.js' %}"></script>
</body>
</html>
